
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$red2: #c93838;
$product-color: #b79d49;
$client-color: #c4c43e;
$trans-color: #2ba037;
$logout-color: #990f0f;


.color1{
    color:#ffffe0;
}
.product-color{
    color:$product-color;
}

.client-color{
    color:$client-color;
}

.trans-color{
    color:$trans-color;
}

.logout-color{
    color:$logout-color;
}

.text-blue{
    color:$blue;
}

.text-orange{
    color:$orange;
}

.text-green{
    color:$green;
}

.text-red{
    color:$red;
}

.text-yellow{
    color:$yellow;
}

.text-indigo{
    color:$indigo;
}

.text-cyan{
    color:$cyan;
}

.text-teal{
    color:$teal;
}

.text-red2{
    color:$red2;
}